<div class="layout-box">

<div class="top-bar">
  <div class="row">
    <div class="col-md-4">
      <div class="logo">
        <a target="_blank" href="https://www.linkedin.com/in/ahmed-elswelky-75b4b6259/"><p>{{"Elswelky" | translate}}</p><i class="fa-brands fa-linkedin"></i></a>
      </div>
    </div>
    <div class="col-md-6">
      <h1>{{"APP_TITLE" | translate}}</h1>

    </div>
    <div class="col-md-2">
      <div class="lan-btns">
        <button (click)="switchLanguage('en')"><img src="../../../assets/enFlag.png" alt="" class="flag"></button>
        <button (click)="switchLanguage('ar')"><img src="../../../assets/arFlag.jpeg" alt="" class="flag"></button>
      </div>
    </div>

  </div>

</div>

<div class="page-content">
  <router-outlet></router-outlet>
</div>

</div>
